<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="composerSubmit.css">
        <link rel="stylesheet" href="master.css">
        <script   src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> <!-- JQuery CDN -->
        <script src="svg_color.js"></script>
    </head>
    
    <body>
        
        <div id="comp_submit">
            <ul class="flex">
                <li class="flex center"><span>Wed, Nov 10 | 2017</span></li>
                <li class="flex center"><img class="ICO clr_02" src="../ASSETS/SAVE_PUB_ICO.svg"></li>
                <li class="flex center"><img class="ICO clr_01" src="../ASSETS/PUBLISHER_ICO.svg"></li>
            </ul>
        </div>
    
    </body>
</html>