<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="navigation.css">
        <link rel="stylesheet" href="master.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script> <!-- JQuery CDN -->
        <script src="svg_color.js"></script>
    </head>
    
    <body>
        
        <!-- Nav Component Notes
        Bugs:
        - h1 affects size of svg's in hover state for the duration of the transition animation.

        Notes:
        - The class called "ac", active, is solely used in the "li" element with the exception of the first li(App Logo), and the Profile li. The "ac" class represents the section the user is currently in. The default is "HOME".
        ************************ -->
        
        <nav id="main_nav">
            <ul class="flex column">
                
                <li class="flex center"><img class="ICO" src="../ASSETS/LOGO_ICO.svg"></li>
                <li class="flex ac">
                    <img class="ICO" src="../ASSETS/HOME_ICO.svg">
                    <h1>Home</h1>
                </li>
                <li class="flex">
                    <img class="ICO" src="../ASSETS/PUBLISHER_ICO.svg">
                    <h1>Publisher</h1>
                </li>
                <li class="flex">
                    <img class="ICO" src="../ASSETS/SAVE_ICO.svg">
                    <h1>Templates</h1>
                </li>
                <li class="flex">
                    <img class="ICO" src="../ASSETS/SNIPPETS_ICO.svg">
                    <h1>Snippets</h1>
                </li>
                <li class="flex">
                    <img class="ICO" src="../ASSETS/SOCIAL_ICO.svg">
                    <h1>Social Networks</h1>
                </li>

                <li class="flex">
                    <img class="PRO_ICO" src="../ASSETS/PROFILE_ICO.png">
                    <h1>Peppermint Caddy</h1>
                    <!-- This image & Label changes based on the account settings -->
                </li>
                <li class="flex">
                    <img class="ICO" src="../ASSETS/CHAT_ICO.svg">
                    <h1>Live Chat</h1>
                </li>
                <li class="flex">
                    <img class="ICO" src="../ASSETS/HELP_ICO.svg">
                    <h1>Help Desk</h1>
                </li>

            </ul>
        </nav>
    
    </body>
</html>