<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="social_comp.css">
        <link rel="stylesheet" href="master.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script> <!-- JQuery CDN -->
        <script src="svg_color.js"></script>
    </head>
    
    <body>
        
        <div id="social_comp">
            <ul class="flex">
                <li class="flex center"><img class="ICO" src="../ASSETS/FB_ICO.svg"></li><!-- Icon changes based on social network -->
                <li class="flex center"><img src="../ASSETS/PROFILE_ICO.png"></li><!-- Image changes based on social network profile pic -->
                <li class="flex center"><span>Peppermint Caddy</span></li><!-- Changes based on social network name -->
            </ul>
        </div>
        
    </body>
</html>